* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Montserrat, sans-serif;
	/* background-color: #001f3c; */
	background-color: #031423;
	color: white;
	padding: 0 3rem;
}

header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

header h1 {
	text-align: center;
	font-size: 3rem;
	margin: 75px 0;
}

header p {
	text-align: center;
	color: #c4c4c4;
	margin-bottom: 75px;
}

.scroll-down {
	height: 2.5rem;
	margin-top: 30px;
	animation: hover-state 2s ease-in-out infinite alternate forwards;
}

/* Main Supercell Section */

.supercell {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.supercell h2 {
	text-align: center;
	font-size: 3rem;
	margin: 75px 0;
}

.supercell div {
	position: relative;
	min-width: 550px;
	min-height: 550px;
}

.supercell p {
	text-align: center;
	position: absolute;
	width: 15rem;
}

.supercell .p1 {
	top: 5rem;
	left: -50%;
}

.supercell .p1::after {
	position: absolute;
	bottom: -10px;
	left: 50%;
	content: "";
	height: 2px;
	width: 300px;
	background-color: white;
}

.supercell .p2 {
	bottom: 15rem;
	right: -50%;
}

.supercell .p2::after {
	position: absolute;
	bottom: -10px;
	right: 50%;
	content: "";
	height: 2px;
	width: 290px;
	background-color: white;
}

.supercell .p3 {
	bottom: 5rem;
	left: -50%;
}

.supercell .p3::after {
	position: absolute;
	bottom: -10px;
	left: 50%;
	content: "";
	height: 2px;
	width: 400px;
	background-color: white;
}

/* Main Meso-What Section */

.mesocyclone {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.mesocyclone h2 {
	text-align: center;
	font-size: 3rem;
	margin: 75px 0;
}

.mesocyclone div {
	position: relative;
	min-width: 550px;
	min-height: 550px;
}

.mesocyclone p {
	text-align: center;
	position: absolute;
	width: 15rem;
}

.mesocyclone .p1 {
	top: 10rem;
	left: -50%;
}

.mesocyclone .p1::after {
	position: absolute;
	bottom: -10px;
	left: 50%;
	content: "";
	height: 2px;
	width: 550px;
	background-color: white;
}

.mesocyclone .p2 {
	bottom: 15rem;
	right: -50%;
}

.mesocyclone .p2::after {
	position: absolute;
	bottom: -10px;
	right: 50%;
	content: "";
	height: 2px;
	width: 290px;
	background-color: white;
}

/* Main Tornado Section */

.tornado {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

.tornado h2 {
	text-align: center;
	font-size: 3rem;
	margin: 75px 0;
}

.tornado div {
	position: relative;
	min-width: 550px;
	min-height: 550px;
}

.tornado p {
	text-align: center;
	position: absolute;
	width: 15rem;
}

.tornado .p1 {
	top: 5rem;
	left: -50%;
}

.tornado .p1::after {
	position: absolute;
	bottom: -10px;
	left: 50%;
	content: "";
	height: 2px;
	width: 300px;
	background-color: white;
}

.tornado .p2 {
	bottom: 10rem;
	right: -50%;
}

.tornado .p2::after {
	position: absolute;
	bottom: -10px;
	right: 50%;
	content: "";
	height: 2px;
	width: 290px;
	background-color: white;
}

.tornado .p3 {
	bottom: 5rem;
	left: -50%;
}

.tornado .p3::after {
	position: absolute;
	bottom: -10px;
	left: 50%;
	content: "";
	height: 2px;
	width: 400px;
	background-color: white;
}

/* Animations */

.enter-animation {
	animation: enter 3s 1;
}

@keyframes hover-state {
	0% {
		transform: translateY(0px);
	}
	100% {
		transform: translateY(20px);
	}
}

@keyframes enter {
	0% {
		opacity: 0;
		transform: translateY(-100px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}
